// Main

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-roboto;
    background: $color-gray;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

// SVG Sprites
.hidden {
    display: none;
}

