// Mixins

// Centered
@mixin centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// Ease
@mixin  ease {
    transition: all .3s ease-in-out;
}

// Media queries
$breakpoints: (
    "phone":        401px,
    "phone-wide":   481px,
    "phablet":      561px,
    "tablet-small": 641px,
    "tablet":       769px,
    "tablet-wide":  1025px,
    "desktop":      1249px,
    "desktop-wide": 1444px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}