// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-open: 'Open Sans Condensed', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #E5E5E5;
$color-gray--dark: #333333;
$color-green: #1CAF5E;
$color-green--dark: #147A42;
$color-green--light: #B8E986;

// Gradients
$sidebar-gradient: linear-gradient(to bottom,rgba(#27B983, .8),rgba(#91E857, 1));
$facebook-gradient: linear-gradient(to bottom,#2C4479,#39579A);
$twitter-gradient: linear-gradient(to bottom,#059FF5,#059FC3);
$insta-gradient: radial-gradient(circle at 30% 170%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 120%);
$linked-gradient: linear-gradient(to bottom,#007EBB,#007E9D);
$snap-gradient: linear-gradient(to bottom,#FFFE00,#F3F200);
$youtube-gradient: linear-gradient(to bottom,#CE1312,#B01312);
$google-gradient: linear-gradient(to bottom,#F93F2D,#C73F2D);
$vimeo-gradient: linear-gradient(to bottom,#00B687,#008E87);



