//- Modal

.modal.js-modal
    .modal__form
        button.modal__close.js-close-btn
            svg.modal__icon
                use(xlink:href='#add')

        h3.modal__title Add Social Profile
        span.modal__subtitle Add new social profile for tracking

        label.modal__label(for="#social") URL
        input(type="text" placeholder="https://twitter.com/username")#social

        button.modal__btn Lockup