//- Dashboard

main
    section.dashboard
        .dashboard__wrapper
            .dashboard__header
                .dashboard__login @abishek.das
                button.dashboard__btn.js-add-btn +Add Social Profile

            .dashboard__tabs
                button.dashboard__tab.active Last day
                button.dashboard__tab Week
                button.dashboard__tab Month

            //- List
            .dashboard__list#js-dashboard

            

                //- .card
                //-     .card__info.facebook
                //-         .card__social
                //-             svg
                //-                 use(xlink:href='#facebook')
                //-         .card__numbers
                //-             span.card__number 1,701
                //-             span.card__followers followers
                //-         .card__place
                //-             span +4
                //-             svg.card__icon.card__icon--up
                //-                 use(xlink:href='#arrow')
                //-     .card__user 
                //-         .card__img
                //-             img(src="../img/face1.jpg", alt="user avatar") 
                //-         .card__text
                //-             h3.card__name Facebook
                //-             span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.twitter
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.insta
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.linked
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.youtube
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.snap
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#snap')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.google
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span +4
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='#arrow')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          
            //-     .card
            //-         .card__info.vine
            //-             .card__social
            //-                 svg
            //-                     use(xlink:href='#facebook')
            //-             .card__numbers
            //-                 span.card__number 1,701
            //-                 span.card__followers followers
            //-             .card__place
            //-                 span
            //-                 svg.card__icon.card__icon--up
            //-                     use(xlink:href='')
            //-         .card__user 
            //-             .card__img
            //-                 img(src="../img/face1.jpg", alt="user avatar") 
            //-             .card__text
            //-                 h3.card__name Facebook
            //-                 span.card__mail @abhisek.daas          