//- Header

header.header
    .header__wrapper
        button.header__icon.header__icon--notific
            svg
                use(xlink:href='#notific')
            .header__note
                span 2
        button.header__icon.header__icon--search
            svg
                use(xlink:href='#search')