// Sidebar

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100vh;
    padding: 0 2rem;
    margin: 0;
    background: $sidebar-gradient;
    z-index: 2;
    @include ease;

    @include mq('tablet-wide', max) {
        width: 30%;
    }

    @include mq('tablet-small', max) {
        width: 40%;
        padding: 0 1rem;
    }

    // Wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    // Logo
    &__logo {
        display: block;
        padding: 1.5rem 0;
        width: 100%;
        text-align: center;

        @include mq('tablet-small', max) {
            padding: .5rem 0;
        }

        svg {
            width: 60%;  
            height: 2rem;

            @include mq('tablet-small', max) {
                width: 100%;
            }
        }
    }

    // User
    &__user {
        display: flex;
        align-items: center;
        padding: 3rem 0;

        @include mq('tablet-small', max) {
            padding: 1rem 0;
        }

        @include mq('tablet-small', max) {
            padding: 1rem 0;
        }

        @include mq('phone-wide', max) {
            flex-direction: column;
            padding: 0 0 1rem;
        }
    }

    // Image
    &__img {
        width: 3.5rem;
        height: 3.5rem;
        background-image: url('../img/face4.jpg');
        background-size: cover;
        border: 2px solid $color-white;
        border-radius: 50%;

        @include mq('tablet-small', max) {
            width: 2.5rem;
            height: 2.5rem;
        }

        @include mq('phone-wide', max) {
            margin-bottom: 1rem;
        }
    }

    // Text
    &__text {
        margin-left: .8rem;

        @include mq('phone-wide', max) {
            margin: 0;
        }
    }

    // Name
    &__name {
        font-size: 1rem;
        line-height: 0.8rem;
        font-weight: 400;
        color: $color-white;

        @include mq('tablet-small', max) {
            font-size: 0.7rem;
        }
    }

    // Followers
    &__followers {
        font-size: 0.8em;
        font-weight: 700;
        color: rgba($color-black, .5);

        @include mq('tablet', max) {
            font-size: .7rem;
        }

        @include mq('tablet-small', max) {
            font-size: 0.5rem;
        }
    }

    // Footer
    &__footer {
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 0;
        border-top: 1px solid rgba($color-black, .1);

        @include mq('tablet-small', max) {
            padding: .5rem 0;
        }
    }

    // Link
    &__link {
        width: 33.33%;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        color: $color-green--dark;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @include mq('tablet-small', max) {
            margin-bottom: 0.5rem;
            font-size: .5rem;
        }
    }
}

