// Cards

.card {
    margin-bottom: 1rem;
    width: 21%;

    // Info
    &__info {
        padding: 1rem;
        border-radius: 10px;

        // Socials
        &.facebook {
            background: $facebook-gradient;
        }

        &.twitter {
            background: $twitter-gradient;
        }

        &.insta {
            background: $insta-gradient;
        }

        &.linked {
            background: $linked-gradient;
        }

        &.youtube {
            background: $youtube-gradient;
        }
        &.snap {
            background: $snap-gradient;

            .card__number,
            .card__followers {
                color: $color-black;
                font-weight: 700;
            }
        }
        &.google {
            background: $google-gradient;
        }
        &.vine {
            background: $vimeo-gradient;
        }
    }

    // Social
    &__social {
        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    // Numbers
    &__numbers {
        padding: 1.2rem 0;
    }

    // Number
    &__number {
        display: block;
        font-family: $font-open;
        font-size: 2rem;
        line-height: 2rem;
        color: $color-white;
    }

    // Followers
    &__followers {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.6rem;
        letter-spacing: 2px;
        color: rgba($color-white, .8);
    }

    // Place
    &__place {
        text-align: right;

        span {
            font-size: 1.3rem;
            color: $color-white;
            letter-spacing: 1px;
        }
    }

    // Icon
    &__icon {
        width: .5rem;
        height: .7rem;

        &.down {
            transform: rotate(180deg);
        }
    }

    // User
    &__user {
        padding: .5rem 0;
        display: flex;
        align-items: center;
    }

    // Text
    &__text {
        margin-left: .5rem;
    }

    // Name
    &__name {
        font-size: .8rem;
        line-height: 0.7rem;
        color: rgba($color-gray--dark, .5);
    }

    // Mail
    &__mail {
        font-size: 0.8rem;
    }
}